@import url('https://fonts.googleapis.com/css2?family=Mr+Bedfort&display=swap');
/*font-family: 'Mr Bedfort', cursive;*/

nav, main{
    font-family: 'Mr Bedfort', cursive;
}

#secondnav{
    top: 56px;
    background-color: rgb(179, 179, 179) !important;
    z-index: 1;
}

#secondnav ul{
    margin: auto;
}

h3{
    color: #a9bf04;
}

#roomSection{
    padding-top: 80px;
}

#maldive1, #oppulent1, #architecture1, #modern1, #balcony1, #luxurious1, #brightest1{
    border-top-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-width: 2px;
    padding: 0px;
}

#maldive2, #oppulent2, #architecture2, #modern2, #balcony2, #luxurious2, #brightest2{
    border-left-style: solid;
    border-right-style: solid;
    border-width: 2px;
    padding: 0px;
}

#maldive1 img, #maldive2 img, #oppulent1 img, #oppulent2 img, #architecture1 img, #architecture2 img, #modern1 img, #modern2 img, #balcony1 img, #balcony2 img, #luxurious1 img, #luxurious2 img, #brightest1 img, #brightest2 img{
    width: 100%;
    height: auto;
}

#maldiveDesc1, #maldiveDesc2, #oppulentDesc1, #oppulentDesc2, #architectureDesc1, #architectureDesc2, #morderDesc1, #morderDesc2, #balconyDesc1, #balconyDesc2, #luxDesc1, #luxDesc2, #brightDesc1, #brightDesc2{
    border-left-style: solid;
    border-right-style: solid;
    border-width: 2px;
    display: flex;
    align-items: center;
}

#maldiveDesc2, #oppulentDesc2, #architectureDesc2, #morderDesc2, #balconyDesc2, #luxDesc2, #brightDesc2{
    border-bottom: solid;
    border-width: 2px;
}

#maldiveDesc2 ul, #oppulentDesc2 ul, #architectureDesc2 ul, #morderDesc2 ul, #balconyDesc2 ul, #luxDesc2 ul, #brightDesc2 ul{
    margin: auto;
    padding-left: 0px;
    list-style-type: none;
}

#maldiveDesc2 ul li, #oppulentDesc2 ul li, #architectureDesc2 ul li, #morderDesc2 ul li, #balconyDesc2 ul li, #luxDesc2 ul li, #brightDesc2 ul li{
    margin-bottom: 10px;
}

h2, h3{
    padding-top: 1em;
}

#rooms, #suites, #villas{
    scroll-margin-top: 115px;
}

#maldive1, #oppulent1, #architecture1, #modern1, #balcony1, #luxurious1, #brightest1, #maldive2, #oppulent2, #architecture2, #maldiveDesc1, #maldiveDesc2, #modern2, #balcony2, #luxurious2, #brightest2, #oppulentDesc1, #oppulentDesc2, #architectureDesc1, #architectureDesc2, #morderDesc1, #morderDesc2, #balconyDesc1, #balconyDesc2, #luxDesc1, #luxDesc2, #brightDesc1, #brightDesc2{
    border-color: rgba(0,0,0,.125);    
}

.icon{
    width: 30px;
    margin-right: 15px;
    
}

@media (min-width: 340px){
    .navbar-nav .nav-link{
        padding-left: 30px;
        padding-right: 30px;
}

/*FOR TABLETS*/
@media (min-width: 576px){
    #maldive1, #oppulent1, #architecture1, #modern1, #balcony1, #luxurious1, #brightest1{
        border-top-style: solid;
        border-left-style: solid;
        border-right-style: none;
        border-width: 2px;
        padding: 0px;
    }
    
    #maldive2, #oppulent2, #architecture2, #modern2, #balcony2, #luxurious2, #brightest2{
        border-top-style: solid;
        border-left-style: none;
        border-right-style: solid;
        border-width: 2px;
        padding: 0px;
    }
}

/*FOR DESKTOPS*/
@media (min-width: 768px){
    #maldive2, #oppulent2, #architecture2, #modern2, #balcony2, #luxurious2, #brightest2{
        border-top-style: none;
        border-bottom-style: solid;
        border-right-style: solid;
        padding: 0px;
    }
    #maldiveDesc1, #oppulentDesc1, #architectureDesc1, #morderDesc1, #balconyDesc1, #luxDesc1, #brightDesc1{
        border-left-style: none;
        border-top-style: solid;
        border-right-style: solid;
    }
    #maldiveDesc2, #oppulentDesc2, #architectureDesc2, #morderDesc2, #balconyDesc2, #luxDesc2, #brightDesc2{
        border-right-style: none;
        border-left-style: solid;
        border-bottom-style: solid;
    }
}
}