@import url('https://fonts.googleapis.com/css2?family=Mr+Bedfort&display=swap');

#eat, #stay, #explore, #experience {
    font-size: 2rem;
    color: #4ECCA3;
    font-family: 'Mr Bedfort', cursive;
}